---
layout: page
title: Tags
---

{% assign alldocs = site.documents %}
{% assign alltags =  alldocs | map: 'tags' | join: ','  | split: ','  | group_by: tag %}

<p>
  아래와 같이 글의 토픽(주제)에 따라 글이 분류되어 있습니다. 원하는 토픽을 선탁하시면, 해당 토픽에 관련된 글 목록으로 이동합니다. (블로그 템플릿 특성상 토픽을 카멜케이스로 입력할 수 없으므로 양해 부탁드립니다.)
</p>
<ul class="tag-box">
    {% for tag in alltags %}
    	<li><a href="#{{ tag.name | slugify }}">{{ tag.name }} <span>{{ tag.size }}</span></a></li>
    {% endfor %}
  {% assign tags_list = nil %}
</ul>

{% for tag in alltags %}
  <h2 class="nice-title" id="{{ tag.name }}">{{ tag.name }}</h2>
  <ul>
    {%- for document in alldocs -%}
      {% if document.tags contains tag.name %}
        <li><a href="{{ document.url }}">{{ document.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
{% endfor %}
