---
layout: default
---

<div class="_progress-wrapper">
  <div id="_progress"></div>
</div>

<header>
  <h1>{{ page.title }}</h1>
  <header class="title-tags">
    <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: '%-d %B, %Y. It was a %A.' }}</time>
    <div class="tags-container">
      Posted under <span>
          {% for tag in page.tags %}
            <a class="tags" href="/tags#{{ tag }}">{{ tag }}</a>
          {% endfor %}
        </span>
      &nbsp;
    </div>
  </header>
</header>

<hr class="stylish" />

<main role="main">

  <article>
    
    <section class="content">
      {{content}}
    </section>

    <hr class="stylish"/>
    
    <section>
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7484994114793984"
     crossorigin="anonymous"></script>
      <!-- horizontal -->
      <ins class="adsbygoogle"
          style="display:block"
          data-ad-client="ca-pub-7484994114793984"
          data-ad-slot="5007321030"
          data-ad-format="auto"
          data-full-width-responsive="true"></ins>
      <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </section>

    <hr class="stylish"/>
    
    <section id="comment">
    </section>
    
    <hr class="stylish"/>

    <section class="pagination">
      {% if page.previous.url %}
      <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
      {% endif %}
      {% if page.next.url %}
      <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
      {% endif %}
    </section>

  </article>

</main>
